<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Git笔记</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--标题头像设置-->
    <link th:href="@{/img/favicon.ico}" type="image/ico" rel="shortcut icon">
    <!--各种css的引入-->
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/project/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/project/css/ionicons.css}">
    <link rel="stylesheet" th:href="@{/project/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/project/css/skins/skin-blue.min.css}">
    <!--<link rel="stylesheet" th:href="@{/dist/css/container.css}">-->

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="warp">
    <div  th:replace="commons/template::mian-header"></div>
    <aside th:fragment="main-sidebar"  class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <!--可以自定义上传图片-->
                    <img th:src="@{/project/img/1.png}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>MoonMagician</p>
                    <!-- 在线妆台 -->
                    <p href="#"><i class="fa fa-circle text-success"></i> 吼吼吼</p>
                </div>
            </div>

            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="搜索...">
                    <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
            </form>
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <!--侧栏第一个标题的位置-->
                <li class="header">导航</li>
                <!-- Optionally, you can add icons to the links -->
                <li >
                    <a href="/">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <!-- Optionally, you can add icons to the links -->
                <li class="">
                    <a href="/introduction">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>自我介绍</span>
                    </a>
                </li>
                <li>
                    <a href="/allproject">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        <span>个人项目</span>
                    </a>
                </li>
                <li>
                    <a href="/javanote">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span>Java笔记</span>
                    </a>
                </li>
                <li>
                    <a href="/linuxnote/1">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span>Linux笔记</span>
                    </a>
                </li>
                <li>
                    <a href="/mysqlnote">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span>Mysql笔记</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/gitnote">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span>Git笔记</span>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="/vuenote">-->
                        <!--<i class="glyphicon glyphicon-list-alt"></i>-->
                        <!--<span>Vue笔记</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/redisnote">-->
                        <!--<i class="glyphicon glyphicon-list-alt"></i>-->
                        <!--<span>Redis笔记</span>-->
                    <!--</a>-->
                <!--</li>-->
                <li >
                    <a href="/othernote">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span>其他笔记</span>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="/talk">-->
                        <!--<i class="glyphicon glyphicon-phone-alt"></i>-->
                        <!--<span>讨论区</span>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="row">
        <div th:fragment="content-wrapper"  class="content-wrapper" style="height:720px; background-image: url('/img/background1.jpg');background-size:cover">
            <section class="content container-fluid mybox" style="width: 100%;height:100%; ">

            </section>
        </div>
    </div>
    <div  th:replace="commons/template::main-footer"></div>
    <div  th:replace="commons/template::control-sidebar"></div>
    <div  th:replace="commons/template::control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script th:src="@{/project/js/jquery-3.3.1.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/project/js/bootstrap.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/project/js/adminlte.js}"></script>
<!--<script>-->
<!--$(function () {-->
<!--$('ul.sidebar-menu li').click(function () {-->
<!--var li = $('ul.sidebar-menu li.active');-->
<!--li.removeClass('active');-->
<!--$(this).addClass('active');-->
<!--});-->

<!--$('.myLeftMenu').click(function (e) {-->

<!--var url = $(this).attr('data');-->
<!--//  console.log(url);-->
<!--$('#container').load(url);-->
<!--});-->
<!--})-->
<!--</script>-->
</body>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</html>